.mission {
  background: #ffffff;
  padding: 70px 0;
}

/* LAYOUT */
.mission-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* IMAGE */
.mission-image img {
  width: 100%;
  border-radius: 12px;
}

/* TEXT */
.mission-content {
  text-align: left;
}

/* TAG */
.tag {
  color: var(--primary);
  font-weight: 600;
  font-size: 24px;
}

/* HEADING */
.mission-content h2 {
  font-size: 26px;
  margin: 10px 0;
  line-height: 1.4;
}

/* PARAGRAPH */
.mission-content p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 10px;
  color: #444;
}

@media (min-width: 768px) {
  .mission-content h2 {
    font-size: 34px;
  }

  .mission-content p {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {

  .mission-container {
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }

  .mission-image {
    flex: 1;
  }

  .mission-content {
    flex: 1;
  }

  .mission-content h2 {
    font-size: 40px;
  }

  .mission-content p {
    font-size: 18px;
  }
}